In [9]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
titanic_data = pd.read_csv('train.csv')

In [12]:
titanic_data.drop("Cabin", axis=1, inplace=True)

In [13]:
titanic_data.dropna(inplace=True)

In [14]:
sex= pd.get_dummies(titanic_data['Sex'], drop_first=True)
embark= pd.get_dummies(titanic_data['Embarked'], drop_first=True)
pcls= pd.get_dummies(titanic_data['Pclass'], drop_first=True)

In [15]:
titanic_data = pd.concat([titanic_data, sex, embark, pcls], axis=1)

In [16]:
titanic_data.drop(["Pclass", "Sex", "Embarked", "PassengerId", "Name", "Ticket"], axis=1, inplace=True)
print(titanic_data)

     Survived   Age  SibSp  Parch      Fare  male  Q  S  2  3
0           0  22.0      1      0    7.2500     1  0  1  0  1
1           1  38.0      1      0   71.2833     0  0  0  0  0
2           1  26.0      0      0    7.9250     0  0  1  0  1
3           1  35.0      1      0   53.1000     0  0  1  0  0
4           0  35.0      0      0    8.0500     1  0  1  0  1
6           0  54.0      0      0   51.8625     1  0  1  0  0
7           0   2.0      3      1   21.0750     1  0  1  0  1
8           1  27.0      0      2   11.1333     0  0  1  0  1
9           1  14.0      1      0   30.0708     0  0  0  1  0
10          1   4.0      1      1   16.7000     0  0  1  0  1
11          1  58.0      0      0   26.5500     0  0  1  0  0
12          0  20.0      0      0    8.0500     1  0  1  0  1
13          0  39.0      1      5   31.2750     1  0  1  0  1
14          0  14.0      0      0    7.8542     0  0  1  0  1
15          1  55.0      0      0   16.0000     0  0  1  1  0
16          0   2.0      4      1   29.1250     1  1  0  0  1
18          0  31.0      1      0   18.0000     0  0  1  0  1
20          0  35.0      0      0   26.0000     1  0  1  1  0
21          1  34.0      0      0   13.0000     1  0  1  1  0
22          1  15.0      0      0    8.0292     0  1  0  0  1
23          1  28.0      0      0   35.5000     1  0  1  0  0
24          0   8.0      3      1   21.0750     0  0  1  0  1
25          1  38.0      1      5   31.3875     0  0  1  0  1
27          0  19.0      3      2  263.0000     1  0  1  0  0
30          0  40.0      0      0   27.7208     1  0  0  0  0
33          0  66.0      0      0   10.5000     1  0  1  1  0
34          0  28.0      1      0   82.1708     1  0  0  0  0
35          0  42.0      1      0   52.0000     1  0  1  0  0
37          0  21.0      0      0    8.0500     1  0  1  0  1
38          0  18.0      2      0   18.0000     0  0  1  0  1
..        ...   ...    ...    ...       ...   ... .. .. .. ..
856         1  45.0      1      1  164.8667     0  0  1  0  0
857         1  51.0      0      0   26.5500     1  0  1  0  0
858         1  24.0      0      3   19.2583     0  0  0  0  1
860         0  41.0      2      0   14.1083     1  0  1  0  1
861         0  21.0      1      0   11.5000     1  0  1  1  0
862         1  48.0      0      0   25.9292     0  0  1  0  0
864         0  24.0      0      0   13.0000     1  0  1  1  0
865         1  42.0      0      0   13.0000     0  0  1  1  0
866         1  27.0      1      0   13.8583     0  0  0  1  0
867         0  31.0      0      0   50.4958     1  0  1  0  0
869         1   4.0      1      1   11.1333     1  0  1  0  1
870         0  26.0      0      0    7.8958     1  0  1  0  1
871         1  47.0      1      1   52.5542     0  0  1  0  0
872         0  33.0      0      0    5.0000     1  0  1  0  0
873         0  47.0      0      0    9.0000     1  0  1  0  1
874         1  28.0      1      0   24.0000     0  0  0  1  0
875         1  15.0      0      0    7.2250     0  0  0  0  1
876         0  20.0      0      0    9.8458     1  0  1  0  1
877         0  19.0      0      0    7.8958     1  0  1  0  1
879         1  56.0      0      1   83.1583     0  0  0  0  0
880         1  25.0      0      1   26.0000     0  0  1  1  0
881         0  33.0      0      0    7.8958     1  0  1  0  1
882         0  22.0      0      0   10.5167     0  0  1  0  1
883         0  28.0      0      0   10.5000     1  0  1  1  0
884         0  25.0      0      0    7.0500     1  0  1  0  1
885         0  39.0      0      5   29.1250     0  1  0  0  1
886         0  27.0      0      0   13.0000     1  0  1  1  0
887         1  19.0      0      0   30.0000     0  0  1  0  0
889         1  26.0      0      0   30.0000     1  0  0  0  0
890         0  32.0      0      0    7.7500     1  1  0  0  1

[712 rows x 10 columns]

In [17]:
X = titanic_data.drop("Survived", axis=1)
Y = titanic_data["Survived"]

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=1)

In [18]:
from sklearn.linear_model import LogisticRegression

In [20]:
logmodel = LogisticRegression()

In [21]:
logmodel.fit(X_train, y_train)

C:\Users\Namit\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [22]:
predictions = logmodel.predict(X_test)

In [23]:
from sklearn.metrics import classification_report

In [24]:
classification_report(y_test, predictions)

'              precision    recall  f1-score   support\n\n           0       0.81      0.83      0.82       126\n           1       0.75      0.72      0.73        88\n\n   micro avg       0.79      0.79      0.79       214\n   macro avg       0.78      0.77      0.78       214\nweighted avg       0.78      0.79      0.78       214\n'

In [25]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[105,  21],
       [ 25,  63]], dtype=int64)